html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
p {
    margin: 0 !important;
}
.clearfix:before,
.clearfix:after {
                    content: "";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                    font-size:0;
}

.clearfix { *zoom:1;}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
  }
ul,li {
    list-style: none;
    margin:0;
}
a{
    text-decoration: none !important;
}
.header-top {
    height: 50px;
    line-height: 50px;
    background-color: #f5f3f3;
}
.header-top p {
    color:#383837;
}
.header-top a {
    color:#383837;
}
.dollar {
    float: right;
    margin-right: 50px;
    position: relative;
}
.dollar>a {
    display: block;
    width: auto;
    height: 50px;
}
.dollar>a span,.language>a span{
    font-size: 12px;
}
.dropdown {
    position: absolute !important;
    display: none;
    top: 50px;
    right:0;
    width: 135px;
    box-shadow: 0 0 6px #aaa;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 30px;
}
.turn-decoration {
    color:#e97730 !important;
    text-decoration: none !important;
}
.language {
    float: right;
    position:relative;
}
.language>a {
    display: block;
    width: auto;
    height: 50px;
}
.language ul {
    margin:0;
}
@keyframes slide-down {
    from {top: -120px;};
    top {top:0}
}
.header-bottom-animate {
    position: fixed;
    box-shadow: 0 0 2px #cacac7;
    top:0;
    animation: slide-down .8s;
    z-index: 997;
}
.header-bottom {
    background-color: #ffffffff;
    width: 100%;
}
.header-bottom h1 {
    float:left;
    margin:0;
    line-height: 120px;
    font-weight: bold;
    font-size: 42px;
}
.header-bottom .container>ul {
    float:left
}
.header-bottom .container>ul>li {
    float:left;
}
.header-bottom .container>ul:nth-of-type(1) {
    line-height: 120px;
    margin-left: 150px;
    margin-bottom: 0;
}
.header-bottom .container>ul:nth-of-type(1)>li {
    margin-left: 50px;
    position: relative;
}
.header-bottom .container .home ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 966;
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .home ul li {
    line-height: 30px;
}
.header-bottom .home ul li a {
    color:#000000;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .shop {
    position: relative;
}
.header-bottom .shop .drop {
    position: absolute;
    z-index: 966;
    left:-94px;
    width: 800px;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .shop .drop ul {
    float: left !important;
}
.header-bottom .shop .drop ul:nth-child(1) {
    margin-right: 100px;
}
.header-bottom .shop .drop .img-menu {
    float: left !important;
}
.header-bottom .shop .drop a {
    color:#000000b2;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .shop .drop .shop,.header-bottom .shop .drop .products {
    color:#111111;
    font-weight: 600;
    margin-bottom: 10px; 
}
.header-bottom .shop .drop .shop a,.header-bottom .shop .drop .products a {
    font-size: 18px;
}
.header-bottom .shop .drop .img-menu {
    width: auto;
    margin-left: 100px;
}
.header-bottom .shop .drop .img-menu img {
    width: 100%;
    display: block;
}
.header-bottom .container .pages ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 966;
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .container .pages ul li {
    line-height: 30px;
}
.header-bottom .container .pages ul li a {
    color:#000000b2;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .container .blog ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 966;
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .container .blog ul li {
    line-height: 30px;
}
.header-bottom .container .blog ul li a {
    color:#000000b2;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .container>ul:nth-of-type(1)>li>a {
    display: block;
    color:#383837;
    position: relative;
    height: 120px;
    letter-spacing: .5px;
}
.header-bottom .container>ul:nth-of-type(1)>li>a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #e97730;
    bottom: 0;
    right: 0;
    transition: all .2s;
}
.header-bottom .container ul li a:hover {
    text-decoration: none;
    color:#e97730;
}
.header-bottom .container ul li a:hover span::before {
    color:#e97730;
}
.header-bottom .container>ul:nth-of-type(1)>li>a:hover::after{
    left:0;
    width: 100%;   
}
.header-bottom .container>ul:nth-of-type(2) {
    float:right;
    line-height: 120px;
    height:120px;
    margin-bottom: 0;
}
.header-bottom .container>ul:nth-of-type(2) li {
    margin-left: 20px;
}
.header-bottom .container>ul:nth-of-type(2) .iconfont {
    font-size: 20px;
    color:#383837
}
.header-bottom .search {
    position: relative;
}
.header-bottom .search a .icon-guanbi {
    display: none;
}
.header-bottom .input-wrap {
    display: block;
    position: absolute;
    width: 300px;
    left:-280px;
    opacity: 0;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
    background-color: white;
    transition: all .3s ease-in;
    visibility: hidden;
}
.input-ani {
    visibility: visible !important;
    opacity:1 !important;
    left:-310px !important;
}
.header-bottom .input-wrap input,.header-bottom .input-wrap button {
    height: 100%;
    outline: 0;
    padding: 0;
    border:0;   
}
.header-bottom .input-wrap input {
    width: 100%;
    padding:0 20px 0;
    border-radius: 30px;
    border:1px solid #aaa
}
.header-bottom .input-wrap form {
    position: relative;
    line-height: 35px;
    border: 0;
}
.header-bottom .input-wrap button {
    position: absolute;
    top:0;
    right:0;
    padding:0 8px 0;
    border-left: 1px solid #aaa;
    background-color: transparent
}
.header-bottom .input-wrap button:hover span {
    color: #e97730 !important;
}
.header-bottom .input-wrap button span {
    font-size: 16px !important;
}
.bag-warp {
    position: relative;
}
.bag-circle {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    right:-5px;
    top:-14px;
    width: 20px;    
    height: 20px;
    line-height: 20px;
    color:white;
    text-align: center;
}
.icon-shopbag,.icon-like {
    font-size: 26px !important;
}
body {
    position: relative;
}
.margin {
    position: fixed;
    height: 100%;
    width: 406px;
    background-color: white;
    right: -406px;
    z-index: 1999;
    opacity: 0;
    transition: all .1s;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 0 5px #727270
}
.margin h3 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}
.margin p {
    font-size: 16px;
}
.cart-left img {
    display: block;
    width: 70px;
    height: 80px;
}
.body-turn {
    opacity: 0.5;
    z-index: 998;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #727270 !important;
}
.margin ul>li>div {
    float:left
}
.cart-right {
    margin-left: 20px;
}
.cart-count {
    position: relative;
}
.cart-right a:last-child {
    position: absolute;
    right:0;
    top:0;
    color:black
}
svg:hover {
    color:#e97730
}
.cart-right a:first-child {
    display: block;
    color:#181837;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.margin ul>li:nth-of-type(2) {
    margin-top: 30px;
}
.rotate {
    position: absolute;
    right:50px;
    top:50px;
    transition: all .3s;
    color:black;
}
.rotate:hover {
    transform: rotate(90deg);
    color:#e97730
}
.total span{
    display: block;
}
.total span:first-child {
    float:left;
    font-weight: bold;
    font-size: 16px;
}
.total span:last-child {
    float:right
}
.total {
    margin-top: 40px !important;
}
.view-cart,.checkout {
    width: 286px;
    height: 50px;
    background-color: black;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
}
.view-cart a,.checkout a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color:white !important;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    text-decoration: none !important;
}
.view-cart a::after,.checkout a::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #e97730;
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
    transition: all .5s;
}
.view-cart a:hover::after,.checkout a:hover::after {
    left:0;
    width: 100%;
}
.view-cart {
    margin-top: 25px;
}
/* main-top===========================================*/
.main-top {
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
    height: 500px;
}
.main-top .img-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-top .img-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.main-top .mid-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 342px;
    height: 342px;
    bottom: -25px;
    border-radius: 50%;
    background-color: #ffffffff;
    text-align: center;
    padding-top: 50px;
}
.main-top .mid-wrap h1 {
    font-size: 48px;
    font-weight: 500;
    color:#323232
}
.main-top .mid-wrap a {
    color:#525252
}
.main-top .mid-wrap a:hover {
    color: #e97730;
}
.main-top .mid-wrap p {
    display: inline-block;
    color: #727270;
}
.banner-area {
    margin-top: 100px;
}
.banner-area .img-wrap {
    overflow: hidden;
    transition: all .3s;
}
.banner-area .img-wrap:hover {
    transform: scale(1.05);
}
.banner-area .content-wrap {
    text-align: center;
}
.banner-area .content-wrap h2 {
    font-family: "Great Vibes", cursive;
    color: #e97730;
    font-size: 30px;
}
.banner-area .content-wrap h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}
.banner-area .content-wrap p {
    color:#5e5e5e;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 26px !important;
}
.shop-now {
    margin: 0 auto;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #e97730;
}
.shop-now a {
    display: block;
    width: 100%;
    position:relative;
    z-index: 2;
    color: #ffffffff !important
}
.shop-now a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right:0;
    transition: all .5s;
    z-index: -1;
}
.shop-now a:hover::after {
    left:0;
    width: 100%;
    background-color: #000000;
}
.shop-now a {
    display: inline-block;
    color:#f5f3f3;
    font-weight:600;
    letter-spacing: 1px;
    font-size: 16px;
}
/* banner-area sofa-set=========================== */
.sofa-set {
    background-image: url(../image/bg-2.png);
    background-size: cover;
    padding: 150px 0;
}
/* up to 40% off===================== */
.sofa-set .banner-wrap p {
    position: relative;
    display: inline-block;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}
.sofa-set .banner-wrap p::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e97730;
    top:50%;
    left:-50%;
    transform: translateY(-50%);
}
.sofa-set .banner-wrap p::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e97730;
    top:50%;
    right: -50%;
    transform: translateY(-50%);
}
.sofa-set .banner-wrap {
    text-align: center;
}
.sofa-set h2 {
    font-family: "URWAbbeyW01";
    -webkit-text-stroke: 4px #e97730;
    font-weight: bold;
    color:#fff;
    font-size: 72px;
}
.banner-area2 .shop-now a:hover::after {
    background-color: #000;
}
.sofa-set .shop-now {
    border-radius: 50px;
    background-color: #e97730;
    border: none;
}
.sofa-set .shop-now a:hover::after {
    border-radius: 50px;
}
.sofa-set .shop-now a {
    color:#ffffffff !important
}
.sofa-set .shop-now {
    display: inline-block;
}
/*active-slide====================================  */
.testimonial {
    margin-top: 100px;
}
.testimonial .container {
    overflow: hidden;
    height: 422px;
}
.testimonial h2 {
    position: relative;
    font-size: 38px !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}
.testimonial h2::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 2px;
    background-color: #e97730;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
}
.swiper4 .swiper-slide {
    position: relative;
    width: 380px;
    padding: 50px 30px 30px;
}
.swiper4 .swiper-slide-active {
    border: 2px solid rgba(170, 170, 170, 0.644);
    border-bottom: none;
}
.swiper4 .swiper-slide-active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid rgba(170, 170, 170, 0.644);
    transform: skewY(5deg);
    transform-origin: bottom left;
}
.swiper4 .swiper-slide-active::after {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 34px;
    background-color: rgba(170, 170, 170, 0.644);
    bottom: -33px;
    right: -1.5px;
}
.swiper4 .swiper-slide .img-wrap {
    position: absolute;
    left: 30px;
    top: -40px;
}
.swiper4 .swiper-slide img {
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.swiper-slide-active img {
    opacity: 1 !important;
    visibility: visible !important;
}
.swiper4 .swiper-slide p:nth-child(1) {
    font-size: 16px;
    letter-spacing: .6px;
    color:#aaa;
    line-height: 30px;
}
.swiper4 .swiper-slide p:nth-child(2) {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}
.swiper4 .swiper-slide span {
    font-size: 14px;
    letter-spacing: .6px;
    color:#aaa;
}
.num-area {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../image/bg-4.png);
    background-size: cover;
    background-position: center center;
    padding: 70px;
}
.num-area .num-wrap .img-wrap {
    text-align: center;
}
.num-area .num-wrap .img-wrap img:hover {
    
}
.num-area .num-wrap {
    text-align: center;
}
.num-area .num-wrap p {
    font-size: 36px;
    font-weight: bold;
    color: #3a3a3a;
    margin: 15px 0 5px;
}
.num-area .num-wrap span {
    color: #3a3a3a;
    font-size: 15px;
    position: relative;
    padding: 0 0 10px;
}
.num-area .num-wrap span::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 1px;
    background-color: #e97730;
    margin: 0 auto;
}
.staff-area .img-wrap img {
    display: block;
    width: 100%;
    transition: all .3s;
}
.staff-area .img-wrap:hover img{
    transform: scale(1.05);
}
.staff-area .img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #ddd;
    text-align: center;
}
.staff-area .img-wrap .resume {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #fff;
    left: 0;
    opacity: 0;
    bottom: -50px;
    visibility: hidden;
    transition: all .3s linear;
}
.staff-area .img-wrap:hover .resume {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.staff-area .img-wrap .resume p {
    font-size: 20px;
    font-weight: 600;
    margin: 60px 0 10px !important;
    line-height: 1;
    color: #000000;
}
.staff-area .img-wrap .resume span {
    font-size: 16px;
    color: #666;
    margin: auto 0;
}
/* join-area===================================== */
.join-top {
    text-align: center;
    margin-bottom: 50px;
}
.join-top h2 {
    font-size: 40px !important;
    font-weight: bold;
}
.join-top p {
    color:#7e7e7e;
    font-size: 16px;
}
.join-bottom {
    text-align: center;
}
.join-bottom form {
    display: inline-block;
}
.join-bottom form input {
    height: 40px;
    width: 500px;
    padding: 0 10px;
    outline: 0;
}
.join-bottom form .subscribe {
    display: inline-block;
    background-color: #e97730;
    width: 150px;
    height: 40px;
    line-height: 40px;
}
.join-bottom form .subscribe a {
    display: block;
    color:#ffffffff;
    font-size: 16px;
}
.join-bottom form .subscribe a:hover {
    background-color: #000;
}
/* footer============================================= */
.footer-top .img-wrap a,.footer-top .logo-wrap a {
    display: block;
}
.footer-top {
    padding:80px;
    margin-top: 100px;
    background-color: #f4f4f4;
}
.footer-top a {
    transition: all .1s;
}
.footer-top a:hover {
    color: #e97730 !important;
}
.footer-top .footer-left p {
    margin: 20px 0 !important;
    color:#50504f;
    letter-spacing: 1px;
    font-size: 18px;
}
.footer-top .infor {
    padding-left: 50px;
}
.footer-top .account {
    padding-left: 10px;
}
.footer-top .infor h3 {
    color:#111111;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.footer-top .infor li {
    margin-bottom: 15px;
}
.footer-top .infor a {
    color:#383837e0;
    font-size: 18px;
    letter-spacing: 1px;
}
.footer-top .touch {
    padding-left: 30px;
}
.footer-top .touch h3 {
    color:#111111;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.footer-top .touch ul li {
    color:#383837e0;
    font-size: 18px;
    line-height: 30px;
}
.footer-top .touch ul li:nth-child(1) span {
    color:#111111;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-top .touch ul li:nth-child(2) span {
    color:#111111;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-top .touch ul li:nth-child(3) span {
    color:#111111;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-top .touch ul li:nth-child(4) {
    margin-top: 20px;
}
.footer-top .touch ul li:nth-child(4) span {
    color:#e97730
}
.footer-top .touch ul li:nth-child(5) {
    letter-spacing: 1px;
}
.footer-top h3 {
    margin: 0;
}
.footer-bottom {
    text-align: center;
    background-color: #f0f0f0;
}
.footer-bottom span {
    color:red;
}
.footer-bottom p {
    display: inline-block;
    color:#383837e0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 50px;
}
.footer-bottom a{
    transition: all .1s;
    color:#e97730;
    font-weight: bold;
}
.footer-bottom a:hover {
    color:#383837e0;
}
/* 返回顶部============================================== */
.top {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111;
    right:30px;
    bottom: 80px;
    text-align: center;
}
.top:hover {
    background-color: #e97730;
}
.top span {
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
    color:#fff
}
.top a {
    display: block;
}