html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
p {
    margin: 0 !important;
}
.clearfix:before,
.clearfix:after {
                    content: "";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                    font-size:0;
}

.clearfix { *zoom:1;}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
  }
ul,li {
    list-style: none;
    margin:0;
}
a{
    text-decoration: none !important;
}
@keyframes slide-down {
    from {top: -120px;};
    top {top:0}
}
.header-bottom-animate {
    position: fixed;
    border-bottom: none !important;
    box-shadow: 0 0 2px #cacac7;  
    background-color: #ffffffff !important;
    top:0;
    padding: 0;
    animation: slide-down .8s;
    z-index: 997;
}
.header-bottom {
    border-bottom: 1px solid #aaa;
    background-color: #e6f2f2;
    width: 100%;
}
.header-bottom h1 {
    float:left;
    margin:0;
    line-height: 120px;
    font-weight: bold;
    font-size: 42px;
}
.header-bottom .container>ul {
    float:left
}
.header-bottom .container>ul>li {
    float:left;
}
.header-bottom .container>ul:nth-of-type(1) {
    line-height: 120px;
    margin-left: 150px;
    margin-bottom: 0;
}
.header-bottom .container>ul:nth-of-type(1)>li {
    margin-left: 50px;
    position: relative;
}
.header-bottom .container .home ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 966;
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .home ul li {
    line-height: 30px;
}
.header-bottom .home ul li a {
    color:#000000;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .shop {
    position: relative;
}
.header-bottom .shop .drop {
    position: absolute;
    z-index: 966;
    left:-94px;
    width: 800px;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .shop .drop ul {
    float: left !important;
}
.header-bottom .shop .drop ul:nth-child(1) {
    margin-right: 100px;
}
.header-bottom .shop .drop .img-menu {
    float: left !important;
}
.header-bottom .shop .drop a {
    color:#000000b2;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .shop .drop .shop,.header-bottom .shop .drop .products {
    color:#111111;
    font-weight: 600;
    margin-bottom: 10px; 
}
.header-bottom .shop .drop .shop a,.header-bottom .shop .drop .products a {
    font-size: 18px;
}
.header-bottom .shop .drop .img-menu {
    width: auto;
    margin-left: 100px;
}
.header-bottom .shop .drop .img-menu img {
    width: 100%;
    display: block;
}
.header-bottom .container .pages ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 966;
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .container .pages ul li {
    line-height: 30px;
}
.header-bottom .container .pages ul li a {
    color:#000000b2;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .container .blog ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 966;
    padding: 30px 28px 30px;
    display: none;
}
.header-bottom .container .blog ul li {
    line-height: 30px;
}
.header-bottom .container .blog ul li a {
    color:#000000b2;
    font-size: 16px;
    letter-spacing: 1px;
}
.header-bottom .container>ul:nth-of-type(1)>li>a {
    display: block;
    color:#383837;
    position: relative;
    height: 120px;
    letter-spacing: .5px;
}
.header-bottom .container>ul:nth-of-type(1)>li>a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #e97730;
    bottom: 0;
    right: 0;
    transition: all .2s;
}
.header-bottom .container ul li a:hover {
    text-decoration: none;
    color:#e97730;
}
.header-bottom .container ul li a:hover span::before {
    color:#e97730;
}
.header-bottom .container>ul:nth-of-type(1)>li>a:hover::after{
    left:0;
    width: 100%;   
}
.header-bottom .container>ul:nth-of-type(2) {
    float:right;
    line-height: 120px;
    height:120px;
    margin-bottom: 0;
}
.header-bottom .container>ul:nth-of-type(2) li {
    margin-left: 20px;
}
.header-bottom .container>ul:nth-of-type(2) .iconfont {
    font-size: 20px;
    color:#383837
}
.header-bottom .search {
    position: relative;
}
.header-bottom .search a .icon-guanbi {
    display: none;
}
.header-bottom .input-wrap {
    display: block;
    position: absolute;
    width: 300px;
    left:-280px;
    opacity: 0;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
    background-color: white;
    transition: all .3s ease-in;
    visibility: hidden;
}
.input-ani {
    visibility: visible !important;
    opacity:1 !important;
    left:-310px !important;
}
.header-bottom .input-wrap input,.header-bottom .input-wrap button {
    height: 100%;
    outline: 0;
    padding: 0;
    border:0;   
}
.header-bottom .input-wrap input {
    width: 100%;
    padding:0 20px 0;
    border-radius: 30px;
    border:1px solid #aaa
}
.header-bottom .input-wrap form {
    position: relative;
    line-height: 35px;
    border: 0;
}
.header-bottom .input-wrap button {
    position: absolute;
    top:0;
    right:0;
    padding:0 8px 0;
    border-left: 1px solid #aaa;
    background-color: transparent
}
.header-bottom .input-wrap button:hover span {
    color: #e97730 !important;
}
.header-bottom .input-wrap button span {
    font-size: 16px !important;
}
.bag-warp {
    position: relative;
}
.bag-circle {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    right:-5px;
    top:-14px;
    width: 20px;    
    height: 20px;
    line-height: 20px;
    color:white;
    text-align: center;
}
.icon-shopbag,.icon-like {
    font-size: 26px !important;
}
body {
    position: relative;
}
.margin {
    position: fixed;
    height: 100%;
    width: 406px;
    background-color: white;
    right: -406px;
    z-index: 1999;
    opacity: 0;
    transition: all .1s;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 0 5px #727270
}
.margin h3 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}
.margin p {
    font-size: 16px;
}
.cart-left img {
    display: block;
    width: 70px;
    height: 80px;
}
.body-turn {
    opacity: 0.5;
    z-index: 998;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #727270 !important;
}
.margin ul>li>div {
    float:left
}
.cart-right {
    margin-left: 20px;
}
.cart-count {
    position: relative;
}
.cart-right a:last-child {
    position: absolute;
    right:0;
    top:0;
    color:black
}
svg:hover {
    color:#e97730
}
.cart-right a:first-child {
    display: block;
    color:#181837;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.margin ul>li:nth-of-type(2) {
    margin-top: 30px;
}
.rotate {
    position: absolute;
    right:50px;
    top:50px;
    transition: all .3s;
    color:black;
}
.rotate:hover {
    transform: rotate(90deg);
    color:#e97730
}
.total span{
    display: block;
}
.total span:first-child {
    float:left;
    font-weight: bold;
    font-size: 16px;
}
.total span:last-child {
    float:right
}
.total {
    margin-top: 40px !important;
}
.view-cart,.checkout {
    width: 286px;
    height: 50px;
    background-color: black;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
}
.view-cart a,.checkout a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color:white !important;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    text-decoration: none !important;
}
.view-cart a::after,.checkout a::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #e97730;
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
    transition: all .5s;
}
.view-cart a:hover::after,.checkout a:hover::after {
    left:0;
    width: 100%;
}
.view-cart {
    margin-top: 25px;
}
/* main-top===========================================*/
.main-wrap {
    padding: 0 30px;
}
.main-top {
    width: 100%;
    position: relative;
    background-color: #e6f2f2;
    padding-top: 100px;
}
.main-top .swiper-button-prev {
    left: 50px;
}
.main-top .swiper-button-next {
    right: 50px;
}
.main-top-arrows {
    color:black !important;
    font-weight: bold !important;
    font-size: 26px !important;
}
.main-top-arrows:hover::after {
    color: #e97730 !important;
}
.main-top-arrows {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.arrows-action {
    opacity: 1;
    visibility: visible;
}
.word {
    position: relative;
    left: 60px;
    letter-spacing: 2px;
    font-weight: 500;
}
.word::before {
    position: absolute;
    content:"";
    width: 50px;
    height: 3px;
    background-color: #e97730;
    left:-60px;
    top:50%;
    transform: translateY(-50%);
}
h2 {
    letter-spacing: 2px;
    font-size: 68px !important;
    font-weight: 800;
}
.shop-now {
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    border:1px solid #000000;
}
/* main轮播图的shop-now按钮 */
.shop-now a {
    width: 100%;
    height: 100%;
    position:relative;
    z-index: 2;
    color: #000 !important
}
.shop-now a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #e97730;
    top: 0;
    right:0;
    transition: all .5s;
    z-index: -1;
}
.shop-now a:hover::after {
    left:0;
    width: 100%;
}
.shop-now a:hover {
    color:#ffffffff !important
}
.shop-now a {
    display: inline-block;
    color:#f5f3f3;
    font-weight:600;
    letter-spacing: 1px;
    font-size: 16px;
}
.shop-now a:hover,.shop-now a:focus {
    color:#f5f3f3;
}
/* shop-now ==============================*/
.main-top .content-wrap {
    width: 500px;
    height: 400px;
    padding:50px;
    margin-top: 100px;
}
.main-top .main-right {
    position: relative;
}
.main-top .main-right a {
    display: block;
    overflow: hidden;
}
.main-top .main-right img {
    display: block;
    height: 493px;
    width: 100%;
    transition: all .3s;
}
.main-top .main-right img:hover {
    transform: scale(1.05);
}
.main-top .main-right .content-wrap-2 {
    position: absolute;
    text-align: right;
    top: 30px;
    left:50px;
}
.main-top .main-right .content-wrap-2 h2 {
    font-size: 46px !important;
    font-family: "Great Vibes", cursive;
}
.main-top .main-right .shop {
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color:#e97730;
    text-transform: uppercase;
}
.main-top .main-right .shop::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e97730;
    bottom: 0px;
    left: 0;
}
.main-top .main-right .shop:hover::after {
    background-color: #aaa;
}
.main-top .main-right .shop:hover {
    color:#aaa
}
/* banner-area=============================== */
.banner-area {
    margin-top: 100px;
}
.banner-wrap {
    position: relative;
    margin-top: 30px;
}
.banner-wrap>a {
    display: block;
    overflow: hidden;
}
.banner-wrap img {
    display: block;
    width: 100%;
    transition: all .3s;
}
.banner-wrap img:hover {
    transform: scale(1.05);
}
.banner-wrap .top-wrap {
    position: absolute;
    top:10px;
    left:30px
}
.banner-wrap .top-wrap h3 {
    font-size: 20px !important;
    letter-spacing: .5px;
    color: #111111;
}
.banner-wrap .top-wrap p {
    font-size: 16px;
    color: #383837;
}
.banner-wrap span {
    position: absolute;
    color: #e97730;
    font-size: 16px;
    letter-spacing: 1px;
    bottom: 30px;
    left: 30px;
}
/* hot products=========================== */
.hot {
    margin-top: 100px;
}
/* .hot .title-left {
    position: relative; 
}
.hot .title-left h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #e97730;
    bottom: -15px;
    left:0
} */
.hot .title-right {
    display: inline-block;
    margin-top: 20px;
}
.hot .img-select {
    text-align: center;
}
.hot .title-left h3 {
    text-align: center;
    margin:0;
    font-size: 36px;
    color:#111111;
    letter-spacing: 1px;
    font-weight: bold;
}
.hot .title-right a {
    display: inline-block;
    color:#aaa;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    padding: 0 0 15px;
}
.underline {
    border-bottom: 2px solid #e97730;
    color:#e97730 !important
}
.area-wrap {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s;
    transform: scale(0.9);
}
.active {
    height: auto;
    opacity: 1;
    overflow: visible;
    transform: scale(1);
}
.count-img {
    margin-top: 70px;
}
.count-img .img-wrap .new {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    color:#111111;
    font-size: 16px;
    letter-spacing: 1.2;
}
.count-img .image img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .4s;
}
.count-img .image img:hover {
    transform: scale(1.2);
}
.count-img .image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.img-wrap .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    opacity: 0;
    bottom:0;
    left:0;
    background-color: #111111;
    text-align: center;
    line-height: 50px;
    color:#fff;
    z-index: 2;
    transition: all .5s;
}
.products .swiper-slide {
    width: 204px;
}
.img-wrap .cart:hover {
    background-color: #e97730;
}
.count-img .image:hover .cart {
    height: 50px;
    opacity: 1;
}
.count-img .img-wrap p {
    font-size: 20px;
    display: inline-block;
    text-decoration: line-through;
}
.count-img .img-wrap>span {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color:red
}
.count-img .image .like,.count-img .image .view {
    display: inline-block;
    width: 45px;
    height: 45px; 
    border-radius: 5px;
    background-color: #fff;
    line-height: 45px;
    color:#111111;
    transition: all .5s;
    opacity: 0;
    margin-left: 6px;
    text-align: center;
}
.count-img .image .like:hover,.count-img .image .view:hover {
    background-color: #e97730;
}
.count-img .image .like:hover span,.count-img .image .view:hover span {
    color: #fff;
}
.count-img .image .action-wrap {
      position: absolute;
      display: inline-block;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
}
.count-img .image:hover .like,.count-img .image:hover .view{
       transform: translateY(0);
       opacity: 1;
}
.count-img .image .like {
    transform: translateY(-30px);

}
.count-img .image .view {
    transform: translateY(30px);

}
.count-img .image .view span,.count-img .image .like span {
    color:#111111
}
.count-img .image .view span {
      font-size: 26px;
}
.count-img .image .percent {
    position: absolute;
    top:10px;
    right: 10px;
}
.count-img .image .percent span {
    color:#fd1748;
    font-size: 18px;
    font-weight: 500;
}
.count-img .img-wrap {
    width: 262.5px !important;
}
/* view对话框 */
.dialog-turn {
    margin: 2.5rem 20px !important;
    opacity: 1 !important;
}
.dialog-wrap .dialog .pic img {
    display: block;
    width: 100%;  
}
.dialog-wrap .dialog .content {
    margin-left: 0px;
}
/* 对话框======================================== */
.dialog-wrap .pic {
    float: left;
}
.dialog-wrap .content {
    float: left;
    margin-left: 30px !important;
}
.body-fade {
    position: fixed;
    z-index: 1010;
    visibility: hidden;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.body-turn {
    position: fixed;
    opacity: 0.5;
    visibility: hidden;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111 !important;
}
.body-fading {
    visibility: visible !important;
}
.switch {
    overflow: hidden;
}
.dialog-wrap {
    position: relative;
    max-width: 1120px;
    background-color: white;
    margin: 1rem auto;
    opacity: 0;
    transition: all .3s;
}
.dialog-wrap .dialog {
    padding: 20px;
}
.dialog-wrap .dialog .shut {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #111111;
}
.dialog-wrap .dialog .shut a {
    display: block;
}
.dialog-wrap .dialog .shut span {
    color:#fff;
    font-size: 16px;
}
.dialog-turn {
    margin: 6.5rem auto !important;
    opacity: 1 !important;
}
.dialog-wrap .content h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}
.dialog-wrap .content .price {
    font-size: 18px;
    margin:20px auto !important;
}
.dialog-wrap .content p span {
    color:#e97730;
    display: inline-block;
    margin-left: 20px;
}
.dialog-wrap .content .star-wrap {
    line-height: 17px;
    margin-bottom: 20px;
}
.dialog-wrap .content ul {
    display: inline-block;
    margin:0;
}
.dialog-wrap .content li {
    float:left;
    margin-right: 10px;
    color:#e97730
}
.dialog-wrap .content .star-wrap>span {
    display: inline-block;
    transform: translateY(-7px);
}
.dialog-wrap .content .color>span {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    transform: translateY(-3px);
}
.dialog-wrap .content .color ul {
    display: inline-block;
    margin:0;
}
.dialog-wrap .content .color li {
    float:left;
    margin-right: 10px;
}
.dialog-wrap .content .color li a {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}
.dialog-wrap .content .color li a span {
    display: inline-block;
    line-height: 20px;
    font-size: 11px;
    color:white
}
.dialog-wrap .content .color li:nth-child(1) a {
    background-color: #e930d5;
}
.dialog-wrap .content .color li:nth-child(2) a {
    background-color: #e97730;
}
.dialog-wrap .content .color li:nth-child(3) a {
    background-color: #8b30e9;
}
.dialog-wrap .content>p:nth-of-type(2) {
    margin-top: 30px !important;
    font-size: 16px;
    color:#111111ad
}
.add-num input {
    width: 100%;
    line-height: 50px;
    text-align: center;
    outline: 0;
    padding: 0;
    border:1px solid #aaa  
}
.add-num {
    position: relative;
    width: 90px;
    height: 50px;
    display: inline-block;
}
.add-num a {
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:#aaa
}
.add-num .minus {
    left: 10px;
    font-size: 30px;
}
.add-num .plus {
    right: 10px;
    font-size: 22px;
}
.cart-select {
    display: inline-block;
}
.cart-add {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #e97730;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    margin-left: 10px;
}
.cart-add a {
    display: inline-block;
    position:relative;
    width: 100%;
    height: 100%;
    color:#f5f3f3;
    font-weight:600;
    letter-spacing: 1px;
    font-size: 16px;
    z-index: 2;
}
.cart-add a:hover {
    color:#f5f3f3;
}
.cart-add a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #111111;
    top: 0;
    right:0;
    transition: all .2s;
    z-index: -1;
}
.cart-add a:hover::after {
    left:0;
    width: 100%;
}
.add .cart-select {
    line-height: 50px;
}
.add .cart-select a {
    color:#aaa;
    margin-left: 20px;
}
.add .cart-select a:hover span {
    color:#e97730
}
.add .cart-select .icon-like {
    font-size: 20px !important;
}
/* banner-area sofa-set=========================== */
.sofa-set {
    background-image: url(../image/bg-2.png);
    background-size: cover;
    padding: 150px 0;
}
/* up to 40% off===================== */
.sofa-set .banner-wrap p {
    position: relative;
    display: inline-block;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}
.sofa-set .banner-wrap p::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e97730;
    top:50%;
    left:-50%;
    transform: translateY(-50%);
}
.sofa-set .banner-wrap p::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e97730;
    top:50%;
    right: -50%;
    transform: translateY(-50%);
}
.sofa-set .banner-wrap {
    text-align: center;
}
.sofa-set h2 {
    font-family: "URWAbbeyW01";
    -webkit-text-stroke: 4px #e97730;
    font-weight: bold;
    color:#fff
}
.banner-area .shop-now a:hover::after {
    background-color: #000;
}
.sofa-set .shop-now {
    border-radius: 50px;
    background-color: #e97730;
    border: none;
}
.sofa-set .shop-now a:hover::after {
    border-radius: 50px;
}
.sofa-set .shop-now a {
    color:#ffffffff !important
}
.sofa-set .shop-now {
    display: inline-block;
}
/* count-area=================================== */
.count-content {
    margin-top: 100px;
}
.count-content h5 {
    font-size: 20px;
    font-weight: bold;
}
.count-content .end-wrap {
    width: 100%;
    height: 50px;
    background-color: #e97730;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.1;
    padding-top: 5px;
}
.count-content .end-wrap p {
    display: inline-block;
    color:#fff
}
.count-content .end-wrap span {
    color:#535353
}
.count-content .divide {
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin-top: 25px;
    transform: translateY(-50%);
}
.count-content .position-wrap {
    display: inline-block;
}
.count-content .position-wrap a {
    color:#111111
}
.count-content .right-wrap,.count-content .left-wrap {
    margin-top: 25px;
    width: 30px;
    height: 30px;
    border:1px solid #e1e1e1;
    font-size: 26px;
    display: inline-block;
}
.count-content .right-wrap span {
    display: block;
    line-height: 30px;
    font-weight: 600;
    text-align: center
}
.count-content .right-wrap:hover {
    background-color: #e97730;
}
.count-content .right-wrap:hover span {
    color:#fff
}
.count-content .left-wrap span {
    display: block;
    line-height: 30px;
    text-align: center;
    transform:rotate(180deg);
    font-weight: 600;
}
.count-content .left-wrap:hover {
    background-color: #e97730;
}
.count-content .left-wrap:hover span {
    color:#fff
}
/* banner-area2=========================== */
.banner-area2 {
    margin-top: 100px;
}
.banner-area2 .content-wrap {
    width: 500px;
    height: 400px;
    padding:50px;
    margin-top: 100px;
}
.banner-area2 .chair {
    position: relative;
}
.banner-area2 .chair a {
    display: block;
    overflow: hidden;
}
.banner-area2 .chair img {
    display: block;
    height: 493px;
    width: 100%;
    transition: all .3s;
}
.banner-area2 .chair img:hover {
    transform: scale(1.05);
}
.banner-area2 .chair .content-wrap-2 {
    position: absolute;
    text-align: right;
    top: 30px;
    left:50px;
}
.banner-area2 .chair .content-wrap-2 h2 {
    font-size: 46px !important;
    font-family: "Great Vibes", cursive;
}
.banner-area2 .chair .shop {
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color:#e97730;
    text-transform: uppercase;
}
.banner-area2 .chair .shop::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e97730;
    bottom: 0px;
    left: 0;
}
.banner-area2 .chair .shop:hover::after {
    background-color: #aaa;
}
.banner-area2 .chair .shop:hover {
    color:#aaa
}
.sofa-set2 {
    position: relative;
}
.sofa-set2>a {
    display: block;
    overflow: hidden;
}
.sofa-set2 img {
    display: block;
    width: 100%;
    transition: all .3s;
}
.sofa-set2 img:hover {
    transform: scale(1.05);
}
.sofa-set2 .banner-wrap {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.sofa-set2 h2 {
    font-size: 40px !important;
    font-weight: bold;
    color:#fff
}
.banner-area .shop-now a:hover::after {
    background-color: #000;
}
.sofa-set2 .shop-now {
    border-radius: 50px;
    background-color: #e97730;
    border: none;
}
.sofa-set2 .shop-now a:hover::after {
    border-radius: 50px;
}
.sofa-set2 .shop-now a {
    color:#ffffffff !important
}
.sofa-set2 .shop-now {
    display: inline-block;
}
.sofa-set2 .banner-wrap p {
    position: relative;
    display: inline-block;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}
.sofa-set2 .banner-wrap p::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e97730;
    top:50%;
    left:-50%;
    transform: translateY(-50%);
}
.sofa-set2 .banner-wrap p::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 3px;
    background-color: #e97730;
    top:50%;
    right: -50%;
    transform: translateY(-50%);
}
.sofa-set2 .banner-wrap .shop-now a:hover::after {
    background-color: #111111;
}
/* news============================================== */
.news {
    margin-top: 100px;
}
.news .title {
    text-align: center;
    margin-bottom: 80px;
}
.news h3{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}
.news h3::after {
    position: absolute;
    content: "";
    bottom:-15px;
    left:0;
    width: 50%;
    height: 2px;
    background-color: #e97730;
    transform: translateX(50%);
}
.news .img-wrap a{
    display: block;
}
.news .img-wrap {
    width: 100% !important;
    overflow: hidden;
}
.news .img-contain {
    position: relative;
}
.news .img-wrap img {
    width:100%;
    transition: all .4s;
}
.news .img-wrap img:hover {
    transform: scale(1.1);
}
.news .date {
    position: absolute;
    width: 50px;
    height: 50px;
    border:1px solid #aaa;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    bottom: -25px;
    right: 20px;
}
.news .content {
    margin-top: 30px;
}
.news .content a:nth-child(1),.news .content span,.news .content a:nth-child(3) {
    color:#aaa;
    letter-spacing: 1px;
}
.news .content a:hover {
    color: #e97730 !important;
}
.news .content a:nth-child(4) {
    display: block;
    color:#111111;
    letter-spacing: 1px;
    font-size:22px;
}
.news .content a:nth-child(5) {
    display: inline-block;
    margin-top: 20px;
    color:#111111;
    letter-spacing: 1px;
    position: relative;
}
.news .content a:nth-child(5)::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #aaa;
    bottom: 0;
    left:0;
}
/* footer============================================= */
.footer-top .img-wrap a,.footer-top .logo-wrap a {
    display: block;
}
.footer-top {
    padding:80px;
    margin-top: 100px;
    background-color: #f4f4f4;
}
.footer-top a {
    transition: all .1s;
}
.footer-top a:hover {
    color: #e97730 !important;
}
.footer-top .footer-left p {
    margin: 20px 0 !important;
    color:#50504f;
    letter-spacing: 1px;
    font-size: 18px;
}
.footer-top .infor {
    padding-left: 50px;
}
.footer-top .account {
    padding-left: 10px;
}
.footer-top .infor h3 {
    color:#111111;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.footer-top .infor li {
    margin-bottom: 15px;
}
.footer-top .infor a {
    color:#383837e0;
    font-size: 18px;
    letter-spacing: 1px;
}
.footer-top .touch {
    padding-left: 30px;
}
.footer-top .touch h3 {
    color:#111111;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.footer-top .touch ul li {
    color:#383837e0;
    font-size: 18px;
    line-height: 30px;
}
.footer-top .touch ul li:nth-child(1) span {
    color:#111111;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-top .touch ul li:nth-child(2) span {
    color:#111111;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-top .touch ul li:nth-child(3) span {
    color:#111111;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer-top .touch ul li:nth-child(4) {
    margin-top: 20px;
}
.footer-top .touch ul li:nth-child(4) span {
    color:#e97730
}
.footer-top .touch ul li:nth-child(5) {
    letter-spacing: 1px;
}
.footer-top h3 {
    margin: 0;
}
.footer-bottom {
    text-align: center;
    background-color: #f0f0f0;
}
.footer-bottom span {
    color:red;
}
.footer-bottom p {
    display: inline-block;
    color:#383837e0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 50px;
}
.footer-bottom a{
    transition: all .1s;
    color:#e97730;
    font-weight: bold;
}
.footer-bottom a:hover {
    color:#383837e0;
}
/* 返回顶部============================================== */
.top {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111;
    right:30px;
    bottom: 80px;
    text-align: center;
}
.top:hover {
    background-color: #e97730;
}
.top span {
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
    color:#fff
}
.top a {
    display: block;
}
@media only screen and (max-width: 768px) {
    .rotate .icon-guanbi {
        font-size: 12px;
    }
    .header-bottom h1,
    .header-bottom .container>ul:nth-of-type(2){
        line-height: 70px;
        height: 75px;
    }
    .header-bottom .container>ul:nth-of-type(2) li {
        margin-left: 10px;
    }
    .margin {
        width: 300px;
        padding: 30px;
    }
    .margin .view-cart,.margin .checkout{
        width: auto;
    }
    .main-top .row {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .main-top p,.main-top .shop-now{
        display: inline-block !important;
    }
    .main-top .shop-now {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .main-content p {
        left:0px;
        height:auto;
        padding: 0 0 0 60px;
        font-weight: bold;
    }
    .main-top p::before {
        left:0;
    }
    .main-top h2 {
        font-size: 32px !important;
        margin:10px auto !important;
        font-weight: 800;
    }
    /* count-area============================ */
    .count-content {
        text-align: center;
    }
    .count-content h5 {
        display: inline-block;
        font-size: 22px;
    }
    .count-content .end-wrap {
        width: 311px;
        margin:0 auto;
    }
    .count-content {
        margin-top: 60px;
    }
    .count-img {
        margin-top: 30px;
    }
    .count-area .img-wrap {
        width: 100% !important;
    }
    .count-img .img-wrap {
        width: 100% !important;
    }
    /* shopping================================ */
    .shopping .img-content {
        margin-top: 60px;
    }
    /* swiper4==================================== */
    .swiper4 .swiper-slide {
        width: 100%;
    }
    .swiper4 .swiper-slide-active::after {
        bottom: -45px;
        height: 45px;
    }
}